[submodule "hugo-theme-slim"]
	path = hugo-theme-slim
	url = https://github.com/zhe/hugo-theme-slim.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/hugo-lithium"]
	path = themes/hugo-lithium
	url = https://github.com/yihui/hugo-lithium.git